    <% if @recipe.errors.any? %>
        <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>


<div class="form">

<%= form_for @recipe do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

<div id="ingredients">

    <h3>ingredients</h3>

    <%= f.fields_for :ingredients, @recipe.ingredients.build do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name, list: "ingredients_autocomplete" %>
        <datalist id="ingredients_autocomplete">
        <% @ingredients.each do |ingredient| %>
        <option value="<%= ingredient.name %>">
        <% end %>
        </datalist>
    <br>
    <%= t.label :ingredient_type %>
    <%= t.select :ingredient_type, @ingredient_type %>
    <br>
    <%= t.label :description %>
    <%= t.text_area :description %>
    <br>
    <% end %>
</div>

<%= f.submit %>
<% end %>
</div>