<% if recipe.errors.any? %>
    <div class="alert alert-dark" role="alert">
        <ul>
            <% recipe.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<div id="recipe-container">

<%= form_with(model: recipe, local: true) do |form| %>

    <%= form.label :Drink_name %> <br>
    <%= form.text_field :name %><br>
    <%= form.label :drink_description %><br>
    <%= form.text_area :description %><br>


<h5>Ingredients</h5>
    <%= form.collection_check_boxes :ingredient_ids, @ingredients, :id, :name%>

    <div class="button-area">
        <%= form.submit :class=> 'btn btn-secondary' %>
    <% end %>
    </div>
</div>