<div id="recipe-container">

<h1 class="recipe-name"><%=@recipe.name %></h1>

<% if @recipe.creator %>
    <h2 class="creator">created by: <%= link_to @recipe.creator.username, user_path(@recipe.creator) %></h2>
<% end %>

<h2 class="description"><%=@recipe.description %></h2>

<ul class="ingredients-ul">
<h3 class="sub-heading">Ingredients:</h3>
<% @recipe.ingredients.each do |i|%>
    <li class="ingredient-name"><%= i.name %> </li>
    <li class="description"><%= i.description %></li>
    </ul>
    </li>
    
                    
<% end %>
</ul>
</div>

<div class="button-area">
<%= link_to "Add to Collection", new_recipe_portfolio_path(@recipe), :class=> 'btn btn-secondary', :id=>"button" %>
<% if @current_user === @recipe.creator %>
<%= link_to "Edit Info", edit_recipe_path(@recipe), :class=> 'btn btn-secondary', :id=>"button"%>
<%= button_to "Delete", @recipe, method: :delete, :class=> 'btn btn-secondary', :id=>"button"%>
<% end %>
</div>


