<% if @user.errors.any? %>
    <div class="alert alert-dark" role="alert">
        <% @user.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
    </div>
<% end %>
<div class="login-f">
    <%= form_for @user do |f| %>
        <%= f.label :username %><br>
        <%= f.text_field :username %><br>
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %><br>
        <br>
        <i>Optional</i> <br>
        <%= f.label :favorite_drink %><br>
        <%= f.text_field :favorite_drink%><br>
        <%= f.label :bio %><br>
        <%= f.text_area :bio %><br>
        <%= f.submit :class=> 'btn btn-secondary'  %>
    <% end %>
</div>
