   <% if @ingredient.errors.any? %>
        <ul>
            <% @ingredient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

<div class="form">
    <%= form_for @ingredient do |f| %>
        <%= f.label "Name" %>
        <%= f.text_field :name %>
        <%= f.label "Type" %>
        <%= f.select :ingredient_type, @ingredient_type %>
        <%= f.label "Description" %>
        <%= f.text_area :description %>
        <%= f.submit :class=> 'btn btn-secondary' %>
        <% end %>
</div>