<div id="recipe-container">
    <h2 class="recipe-name"><%= @ingredient.name %></h2>
    <h3 class="description"><%= @ingredient.ingredient_type %></h3>
    <p class="desciption"><%= @ingredient.description %></p><br>

<h3>Drinks featured: </h3>
<ul class="ingredients-ul">
    <% @ingredient.recipes.each do |recipe| %>
        <li><%= link_to recipe.name , recipe_path(recipe) %></li>
    <% end %>
</ul>
</div>

<div class="button-area">
    <%= link_to "Edit Info", edit_ingredient_path(@ingredient), :class=> 'btn btn-secondary' %>
    <%= button_to "Delete", @ingredient, method: :delete, :class=> 'btn btn-secondary' %>
</div>