<!DOCTYPE html>
<html>
  <head>
    <title>YouthJuice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <nav>
     <%= link_to "Home", root_path %>
    <% if session[:user_id] %> 
       <%= link_to "Account", user_path(session[:user_id]) %> 
       <% else %> 
       <% nil %>
     <% end %> 
     <%= link_to "All Recipe", recipes_path %> 
     <%= link_to "All Ingredients", ingredients_path %> 
     <%= link_to "Create Recipe", new_recipe_path %> 
     <% if session[:user_id] %> 
       <%= link_to "Log Out", logout_path %> 
     <% else %> 
       <%= link_to "Log in", login_path %> 
    <% end %> 
    <% if !session[:user_id] %> 
    <%= link_to "Sign Up", new_user_path %> 
    <% end %>
    
  </nav>

  <body>
    <h1 id="main page header">Welcome to Youth Juice</h1>
    <%= yield %>
  </body>
</html>
